@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;

  --font-medium: 500;
}

html {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body {
  color: white;
}

input,
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login_form {
  position: relative;

  border: 4px solid white;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}

.login_title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}

.login_content,
.login_box {
  display: grid;
}

.login_content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.login_box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.35rem;
  border-bottom: 2px solid white;
}

.login_icon,
.login_eye {
  font-size: 1.25rem;
}

.login_input {
  width: 100%;
  padding-block: 0.2rem;
  background: none;
  color: white;
  position: relative;
  z-index: 1;
}

.login_box-input {
  position: relative;
}

.login_label {
  position: absolute;
  top: 0;
  left: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}

.login_eye {
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 10;
  cursor: pointer;
}

.login_box:nth-child(2) input {
  padding-right: 1.8rem;
}

.login_check,
.login_check-group {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.login_check {
  margin-bottom: 1.5rem;
}

.login_check-label,
.login_forgot,
.login_register {
  font-size: var(--small-font-size);
}

.login_check-group {
  column-gap: 0.5rem;
}

.login_check-input {
  width: 16px;
  height: 16px;
}

.login_forgot {
  color: white;
}

.login_forgot:hover {
  text-decoration: underline;
}

/*
===================
  Animated Button
===================
*/

.login_button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
  transition: color 0.3s, border-color 0.3s;
}

.login_button::before,
.login_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #c499f3, #4b6cb7);
  z-index: -1;
  transition: transform 0.3s;
}

.login_button::before {
  transform: translateY(100%);
  transform-origin: left;
}

.login_button::after {
  transform: scaleY(0);
  transform-origin: top;
}

.login_button:hover {
  color: #e0e0e0;
  border-color: transparent;
}

.login_button:hover::before {
  transform: scaleX(1);
}

.login_button:hover::after {
  transform: scaleY(1);
}

.login_register {
  text-align: center;
}

.login_register a {
  color: white;
  font-weight: var(--font-medium);
}

.login_register a:hover {
  text-decoration: underline;
}

.login_input:focus + .login_label {
  top: -12px;
  font-size: var(--small-font-size);
}

.login_input:not(:placeholder-shown).login_input:not(:focus) + .login_label {
  top: -12px;
  font-size: var(--small-font-size);
}

/* 
======================
Responsive Section
======================
*/

@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }

  .login_form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login_title {
    font-size: 2rem;
  }
}
